.main
  .main-contents
    .main-contents__left-box
      .main-left-ue-box
        test
        .main-left-sita-box
          mamber : rituka
      .main-right
        Edit

  .main-line
    .main-line-date
      .main-line-laft
        りつかチャンネル
      .main-line-right
        2019/11/12(Tue)10:10:01
    .main-text
      いい天気！今日も作業やる！

    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "footter-laft_text",placeholder:"type a message"
        .footer-laft
          = f.label :image, class:"footer-laft_image" do
            = icon('fas','image', class: 'icon')
            = f.file_field :image, class: "hidden"
        = f.submit 'Send', class: "submit"
